/datasets
__pycache__/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# pytest
.pytest_cache/
*.pyc

*.ckpt
/benchmark_logs
